.navbar-logo {
    max-height: 60px;
    width: auto;
    /* padding-right: 4px; */
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #000000;
    background: #a2d58b;
}

.quarto-title-banner h1 {
   
    color: #000000;
  
}

#downloadbutton {
    background-color: #a2d58b;
  }

.cmm-background {
background-image: url("https://images.pexels.com/photos/2675061/pexels-photo-2675061.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-size: cover;
background-repeat: no-repeat;
opacity: 0.5;
}
  

#hero-banner {
    /* padding-top: 35px;
    background-color: #a2d58b;
    color: black; */
    background-image: url("https://www.nps.gov/npgallery/GetAsset/c66dc9e9-1dd8-b71c-0709-7fbc019c9c2a/proxy/hires?");
    background-size: cover;
    background-repeat: no-repeat;
    background-opacity: 0.5;
}

.quarto-title-banner .code-tools-button {
   
    color: #000000;
  
} 
b,strong {font-weight: bold; color: black}

.pretty-table tbody tr {
    border-top: 2px solid #000000;
}

.pretty-table td, .pretty-table th {
    border-right: 1px solid #ddd;
}

p { color: #000000;
  
}

.fixed-top {
    width: 100%;
}