#hero-banner {
    position: relative;
    background-image: url("https://www.nps.gov/npgallery/GetAsset/c66dc9e9-1dd8-b71c-0709-7fbc019c9c2a/proxy/hires?");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 50px 0; 
    /* height: 500px; */
    /* display: flex; */
    justify-content: center;/*
    align-items: center;
    text-align: center; */
}

#hero-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 70%); /* Semi-transparent overlay */
    z-index: 1;
}

#hero-banner .content {
    position: relative;
    z-index: 2;
    padding: 20px;
    /* background-color: #79b0dc;  */
    color: black; /* Text color */
    /* max-width: 800px; Adjust width as needed */
    margin: auto; 
    border-radius: 10px; /* Optional: adds rounded corners */
}

 .floating-toc {
    position: fixed;
    right: 20px;
    top: 0px;
    width: 250px;
    max-height: 80vh;
    /* overflow-y: auto; */
    /* background: #f8f9fa;
    border: 1px solid #ddd; */
    padding: 10px;
    /* border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
    text-align: left; /* Ensure the text is left-aligned */
    z-index: 1000; 
} 

/* Adjust the font size */
.floating-toc ul {
    font-size: 0.9em;  /* Adjust the font size as needed */
}

@media (max-width: 788px) {
  .floating-toc {
    margin-bottom: 42px;
    position: static;
    width: 100%;
  }
  .floating-toc .nav .nav {
    display: block;
  }
}

.btn-quarto {
    background-color: #a2d58b;

    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 10px !important;
  }

  /* prevent scroll with Observable tables */

.observablehq table {
    overflow: hidden !important ;
}
  .toc ul {
    list-style-type: none;
    padding: 0;
  }
  
  .toc ul li {
    padding: 5px 0;
  }
  
  .toc ul li a {
    display: block; /* Ensures the entire area of the list item is clickable */
    text-decoration: none;
    color: #007bff; /* Customize the link color */
  }
  
  .toc ul li a:hover {
    text-decoration: underline;
  }
  
.btn-quarto:hover {
background-color: #7da869;
}


/* nav[data-toggle="toc"] ul {
    font-size: 0.9em; 
}

nav[data-toggle="toc"] {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 250px;
    max-height: 80vh;
    overflow-y: auto;
    background: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: left; /* Ensure the text is left-aligned */
/*} */

/* @media (max-width: 768px) {
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
    width: 100%;
  }
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
} */



.navbar-logo {
    max-height: 60px;
    width: auto;
    /* padding-right: 4px; */
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #000000;
    background: #a2d58b;
}

.quarto-title-banner h1 {
   
    color: #000000;
  
}

#downloadbutton {
    background-color: #a2d58b;
  }


  
/* 
#hero-banner {
    /* padding-top: 35px;
    background-color: #a2d58b;
    color: black; *//*
    background-image: url("https://www.nps.gov/npgallery/GetAsset/c66dc9e9-1dd8-b71c-0709-7fbc019c9c2a/proxy/hires?");
    background-size: cover;
    background-repeat: no-repeat;
    background-opacity: 0.5;
/* } */
/* #hero-banner {
    position: relative;
    background-image: url("https://www.nps.gov/npgallery/GetAsset/c66dc9e9-1dd8-b71c-0709-7fbc019c9c2a/proxy/hires?");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#hero-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    /* z-index: 1;
}*/

/* .hero-banner .content {
    position: relative;
    z-index: 2;
    padding: 20px;
}
 */

.quarto-title-banner .code-tools-button {
   
    color: #000000;
  
} 
b,strong {font-weight: bold; color: black}

.pretty-table tbody tr {
    border-top: 2px solid #000000;
}

.pretty-table td, .pretty-table th {
    border-right: 1px solid #ddd;
}

p { color: #000000;
  
}

button.code-tools-button {
    /* background-color: black; Sets the background color to black */
    color: black; /* Sets the text color to black */
    /* border-color: black; Sets the border color to black, optional if you want the border to be the same color */
}


/* Set the default font color for the entire site */
body {
    color: black !important; /* Ensures that the text color is black */
}

/* Override the color for other common text-containing elements */
p, h1, h2, h3, h4, h5, h6, a, span, div {
    color: black !important; /* Ensures that the text color is black */
}

/* Exclude navbar and footer elements */
.navbar, .navbar a, .navbar p, .navbar h1, .navbar h2, .navbar h3, .navbar h4, .navbar h5, .navbar h6, .navbar span, .navbar div,
.footer, .footer a, .footer p, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer span, .footer div {
    color: white !important; /* Ensures that navbar and footer elements retain their original color */
}

/* Exclude navbar and footer elements */
.nav-link.active {
    color: white !important; /* Ensures that navbar and footer elements retain their original color */
}

button#quarto-code-tools-menu i::before {
    content: "" !important;
    display: none !important;
    /* color: black !important; Sets the icon color to black */

}


/* Color magnifying glass white */

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    color: white !important;
}

/* Ensure navbar dropdown items have black font color */
.navbar .dropdown-item {
    color: black !important; /* Ensures that the dropdown items have black font color */
}

/* Ensure span inside navbar dropdown items also have black font color */
.navbar .dropdown-item .dropdown-text {
    color: black !important; /* Ensures that the text inside dropdown items has black font color */
}
/* 
.fixed-top {
    width: 100%;
} */

 /* Ensure the TOC container is on top
 #quarto-margin-sidebar {
    /* position: fixed;
    top: 0px; */
    /* top: 150px; /* Adjust as needed to match navbar height */
    /* max-height: calc(100vh - 150px); /* Adjust max-height to account for navbar */
    /* z-index: 1000; /* Ensure it's above other elements */
    /* overflow-y: auto; /* Allow scrolling if content exceeds height */
/* } */

.sidebar {
    overflow-y: hidden;
}
 /* Ensure the TOC container is on top */
#quarto-margin-sidebar-toc  {
    /* position: fixed; */
    top: 0px !important; 
    margin-left: -10px;

}

.observablehq--error {
    display: none;
}

/* Add some padding to the toc container to ensure it looks nice */
#toc-container {
    padding: 10px;
}

body.team img {
    width: 10em;
}
.toc {
    width: auto;
    background: #eee;
    font-size: 0.8em;
    padding: 1em 2em;
    margin: 0 0 0.5em 0.5em;
}
   
.toc ul>li {
    margin: 0 0 .6em 0;
    list-style-type: none;
}


.toc li {
    font-size: 1em;
}
   
.toc a {
    text-decoration: none;
    color: #3D5AFE;
}

.listing-box:hover {
    background-color: transparent;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
              0px 2px 4px rgba(0,0,0,0.1), 
              0px 4px 8px rgba(0,0,0,0.1), 
              0px 8px 16px rgba(0,0,0,0.1);
  }
  
  .listing-box-title {
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 12px;
    color: #222;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
  }
  
  .listing-box-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
    color: #757883;
    line-height: 1.5;
  }
  
  .listing-box-education {
    margin-bottom: 0;
    color: #757883;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .listing-box-button a[role="button"] {
    width: 140px;
    min-height: 150px;
    color: rgb(55, 58, 60);
    text-align: center;
    border: 1px solid rgb(222, 226, 230);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .listing-box-section {
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  
  
  .listing-box-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  
  .quarto-listing-cols-3 {
      padding-left: 10px;
      padding-right: 10px;
  
  }
  
  .quarto-listing-cols-4 {
      padding-left: 10px;
      padding-right: 10px;
  
  }
  
  .anchored {
    padding-top: 8px;
    padding-left: 10px;
  }